/* src/components/VideoPlayer.css */
.video-container {
    justify-content: center;
    justify-items: center;
    padding: 0px;
  }
  
  .video {
    width: 100%;
    border-radius: 20px;
    justify-content: center;
    height : 449px;
  }

  .movieDesc{
    display: flex;
  }
  