.parent{
    display: flex;
    width:  100%;
}

.child {
    float: left;
}
.container {
    display: flex;
    justify-content: space-evenly; /* or other flex properties as needed */
  }
  
  .component {
    margin: 10px;
    width: 226px;
  }
  .components{
    width: 100%;
    flex: left;
    margin: 20px;
  }

  